#mainBody {
    margin-top: 20px;
}

#filterTitle, #addressInstructions {
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    text-align: center
}

@media only screen and (max-width: 800px) {
    #column, #mapDiv, #detailCol {
      flex-basis: 100%
    }
  }