.navbar-brand {
    padding: 5px;
}

.navbar-expand-lg {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:'Montserrat', sans-serif;
}

#NavBar {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:'Montserrat', sans-serif; 
}