.profilePage {
    background-image: url("../../images/coffeeshoppeople.jpg");
    background-size: cover;
    display: flex;
    min-height: 150vh;
    flex-direction: column;
}

#loadingIcon {
    width: 200px;
    height: 200px;
}

body {
    height: 100%
}

  
  .profileBox {
    flex: 1;
  }

  #profileContainer {
      margin-top: 10%;
      margin-bottom: 5%;
      padding: 0;
      width: 60%

  }

  #welcome {
      font-family: 'Sansita', sans-serif;
      font-size: 2.5em;
      background: #f8bc45;
      padding: 10px;
  }

  #savedAddresses {
      font-family: 'Montserrat', sans-serif;
      text-align: center
  }

  #add {
      margin-bottom: 10px;
      margin-left: 10px
  }

  #update, #delete {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        /* display: inline; */
        float: right
        
  }

  .update:hover, .delete:hover {background: #eee;}

  