#carouselExampleSlidesOnly {
    position: relative;
}

#titleDiv {
    position: absolute;
    right: 4%;
    margin-top: 4%;
    background: white;
    width: 400px;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#titleImage {
    width: 100%;
    height:66%;
    padding-left: 20px;
    /* object-fit: cover; */
}

#byline {
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    text-align: center;
    font-size: 17px;
}


.carousel-item {
    max-height: 800px;
}

#image {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #carouselExampleSlidesOnly {
        align-content: center
    
    }
    #titleDiv {
        right: 0;
        left: 15%;
        width: 70%;
        height: auto;

    }

    #titleImage {
        width: 100%;
        height:auto;
        padding-left: 30px;

    }

    .d-block {
        height: 500px;
        object-fit: cover;
    }

    #byline {
        display: none
    }
  }

